<!-- notes/entry_update_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Update Entry{% endblock %}

{% block header %}
<h1>Update entry "{{ entry }}"</h1>
<p>Fill on the form fields as required</p>
{% endblock header %}

{% block content %}
<div>
	<form method="post">
		{% bootstrap_form form %}
		{% csrf_token %}
		<input class="btn btn-outline-success" type="submit" value="Save Changes">
	</form>
</div>
<div hidden="True">
	{{ form.media }}
</div>
{% endblock %}