<!-- notes/entry_update_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Update Entry{% endblock %}

{% block header %}
<h1>Update entry "{{ entry }}"</h1>
<p>Fill on the form fields as required</p>
{% endblock header %}

{% block content %}
<div>
	<form method="post" onsubmit="updateEntry()" id="entry-form">
		{% csrf_token %}
		<div class="mb-3">
			<label for="id_name" class="form-label">Name</label>
			<input type="text" class="form-control" id="id_name" name="name" required value="{{entry.name}}">
		</div>
		<div class="form-group mb-3">
			<label for="id_content" class="form-label">Content</label>
			<textarea id="id_content" name="content">{{entry.content|safe}}</textarea>
		</div>
		<button class="btn btn-outline-success" type="submit">Save Changes</button>
	</form>
</div>
<script>
	const easyMDE = new EasyMDE({ element: document.getElementById('id_content') });
	easyMDE.value();
</script>
<script>
	function updateEntry(event) {
		event.preventDefault();
		const form = document.querySelector('#entry-form');
		const textarea = form.querySelector('#id_content');
		textarea.value = easyMDE.value();
		form.submit();
	};
</script>
{% endblock %}