{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<p class="h2">
    Dashboard
</p>
{% endblock header %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'glossary_favicon.ico'' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'revision_favicon.ico' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'notes_favicon.ico' %}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<div>
    <a class="btn btn-sm btn-outline-success" href="{% url 'notes:create_course' %}">
        New Course
    </a>
</div>
<div class="container">
    <h1>Notes Dashboard</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in latest_entries %}
            <tr>
                <td>
                    <a href="{{ entry.get }}">
                        {{ entry.name}}
                    </a>
                </td>
                <td>{{ entry.updated }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-warning" href="{% url 'notes:update_entry' entry.id %}">
                            Update
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_entry_modal">
                            Delete
                        </button>
                    </div>

                    <div class="modal fade" id="delete_entry_modal" tabindex="-1" aria-labelledby="delete_{{ entry.slug }}_label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    {% include "notes/delete/entry_confirm_delete.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="container">
    <h1 class="text-center my-5">Courses</h1>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <a href="{{ course.get_absolute_url }}" class=" h5 card-title">{{ course.name }}</a>
                </div>
                <div class="card-body">
                    <small class="card-text">Course Code: {{ course.course_code }}</small>
                    <p class="card-text">About: {{ course.about }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h1 class="text-center my-5">Objectives</h1>
    <div class="row">
        {% for objective in objectives %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <a href="{{ objective.get_absolute_url }}" class=" h5 card-title">{{ objective.name }}</a>
                </div>
                <div class="card-body">
                    <small class="card-text">
                        Start: {{ objective.start_date }}
                    </small>
                    <small class="card-text">
                        End: {{ objective.end_date }}
                    </small>
                    <p class="card-text">Description: {{ objective.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}