<!-- notes/objective_create_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Create Sub-Objective{% endblock %}

{% block header %}
<h1>Create a new subobjective</h1>
<p>Fill in the form fields as required</p>
{% endblock header %}

{% block content %}
<div>
	<form method="post">
		{% bootstrap_form form %}
		{% csrf_token %}
		<input class="btn btn-outline-success" type="submit" value="Create Sub-Objective">
	</form>
</div>
<div>
	{{ form.media }}
</div>
{% endblock %}