<!-- revision/objective_detail.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load notes_tags %}

{% block title %}{{ objective.name }}{% endblock %}

{% block header %}
<nav style="--mdb-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'revision:objective_list' objective.course.id objective.course.slug %}">
                {{ objective.course.course_code }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a class="btn btn-sm btn-dark" data-mdb-toggle="collapse" href="#otherObjectives" role="button"
                aria-expanded="false" aria-controls="otherObjectives">
                {{ objective }}
            </a>
        </li>
    </ol>
</nav>

<br>

<div class="collapse" id="otherObjectives">
    <div class="row g-2">
        {% for other_objective in other_objectives %}
        <div class="col">
            <a class="btn btn-sm btn-outline-dark" href="{{ other_objective.get_absolute_url }}">
                {{ other_objective.name }}
            </a>
        </div>
        {% endfor%}
    </div>
</div>

<h2 class="text-center">{{ objective.name }}</h2>

<div class="btn-group m-2">
    <a href="{% url 'revision:create_objective' %}" class="btn btn-sm btn-outline-success">
        New Objective
    </a>
    <a class="btn btn-sm btn-outline-warning" href="{% url 'revision:update_objective' objective.id %}">
        Update Objective
    </a>
    <button type="button" class="btn btn-sm btn-outline-danger" data-mdb-toggle="modal"
        data-mdb-target="#delete_objective_modal">
        Delete Objective
    </button>
</div>

<div class="modal fade" id="delete_objective_modal" tabindex="-1" aria-labelledby="delete_{{ objective.slug }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                {% include "revision/objective_confirm_delete.html" %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock header %}

{% block content %}
<p>{{ objective.description | markdown }}</p>


<div class="container d-flex justify-content-between">
    <h5 class="underline">Sub Objectives</h5>
    <a href="{% url 'revision:create_subobjective' objective.id %}">
        Add Sub-Objective
        <i class="fas fa-plus fa-beat -fa-xl"></i>
    </a>
</div>
{% if objective.has_subobjectives %}
<div class="container">
    {% for subobjective in objective.subobjective_set.all %}
    <div class="sub-objective">
        {% if subobjective.complete %}
        <p class="complete">
            <span>
                <a class="text-danger" href="{% url 'revision:mark_sub_incomplete' subobjective.id request.path %}"
                    title="Mark Incomplete">
                    <i class="fas fa-x"></i>
                </a>
            </span>
            <span class="sub-objective-text">
                {{ objective.number }}.{{ subobjective.number }}. {{ subobjective.name }}
            </span>
            <span>
                <a class="text-danger" href="{% url 'revision:delete_subobjective' subobjective.id request.path %}"
                    title="Delete Sub-Objective">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </p>
        {% else %}
        <p class="incomplete">
            <span>
                <a class="text-success" href="{% url 'revision:mark_sub_complete' subobjective.id request.path %}"
                    title="Mark Incomplete">
                    <i class="fa-solid fa-check"></i>
                </a>
            </span>
            <span class="sub-objective-text">
                {{ objective.number }}.{{ subobjective.number }}. {{ subobjective.name }}
            </span>
            <span>
                <a class="text-danger" href="{% url 'revision:delete_subobjective' subobjective.id request.path %}"
                    title="Delete Sub-Objective">
                    <i class="fas fa-trash"></i>
                </a>
            </span>

        </p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}