asgiref==3.6.0
astroid==2.14.1
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
decorator==5.1.1
Django==4.1.6
django-bootstrap-icons==0.8.2
django-bootstrap-v5==1.0.11
django-bootstrap5==22.2
executing==1.2.0
idna==3.4
image==1.5.33
ipython==8.10.0
jedi==0.18.2
lazy-object-proxy==1.9.0
Markdown==3.4.1
matplotlib-inline==0.1.6
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
poetry-semver==0.1.0
prompt-toolkit==3.0.36
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
pyparsing==3.0.9
pypng==0.20220715.0
qrcode==7.4.2
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.2
toml==0.10.2
traitlets==5.9.0
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
wrapt==1.14.1
