asgiref
asttokens
backcall
beautifulsoup4
black
certifi
charset-normalizer
click
colorama
cssbeautifier
decorator
Django
django-bootstrap-icons
django-bootstrap-v5
django-bootstrap5
djlint
EditorConfig
executing
html-tag-names
html-void-elements
idna
ipython
jedi
jsbeautifier
Markdown
matplotlib-inline
mypy-extensions
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psycopg2
ptyprocess
pure-eval
Pygments
pyotp
pypng
PyYAML
qrcode
regex
requests
six
soupsieve
sqlparse
stack-data
tqdm
traitlets
typing_extensions
urllib3
wcwidth
