asgiref
astroid
asttokens
backcall
beautifulsoup4
black
boto3
botocore
certifi
charset-normalizer
click
colorama
cssbeautifier
decorator
defusedxml
dill
dj-database-url
Django
django-bootstrap-icons
django-bootstrap-v5
django-bootstrap5
django-storages
djangorestframework
djlint
EditorConfig
executing
gitdb
GitPython
gunicorn
html-tag-names
html-void-elements
httpie
idna
ipython
isort
jedi
jmespath
jsbeautifier
lazy-object-proxy
lint
Markdown
markdown-it-py
matplotlib-inline
mccabe
mdurl
multidict
mypy-extensions
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
pure-eval
Pygments
pylint
pyotp
pypng
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
regex
requests
requests-toolbelt
rich
s3transfer
six
smmap
soupsieve
sqlparse
stack-data
tomlkit
tqdm
traitlets
typing_extensions
urllib3
wcwidth
whitenoise
wrapt
