{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Reset Password{% endblock %}

{% block header %}
<div class="alert alert-warning">
	<h1>Forgot your password?</h1>
</div>
{% endblock header %}

{% block content %}

<p>Enter your email address below, and we'll email instructions	for setting a new one.</p>
<form method="POST">
	{% bootstrap_form form layout='floating' %}
	{% csrf_token %}
	<input class="btn btn-success" type="submit" value="Send me instructions!">
</form>
{% endblock content %}