{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Change Password{% endblock %}

{% block header %}
	<div class="alert alert-warning">
		<p class="fs-3 text-dark">You are changing your password</p>
	</div>
{% endblock header %}

{% block content %}
	<p class="text-muted">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
	<form method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input class="btn btn-success" type="submit" value="Change my password">
	</form>
{% endblock content %}