<!-- accounts/profile.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}
{% if request.user is student %}
Profile
{% else %}
{{ student }}'s profile
{% endif %}
{% endblock %}
{% block content %}
<section class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        {% if request.user is user %}
        <a class="btn btn-sm btn-outline-dark float-end m-2" href="{% url 'edit_profile' %}" title="">Edit Profile</a>
        {% endif %}
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="..." height="100" width="100" />
            {% else %}
            <img src="{% static 'no-photo-icon.jpg' %}" alt=".." height="100" width="100">
            {% endif %}
            <span class="name mt-3">{{ student.get_full_name }}</span>
            <span class="idd">@{{ student.get_username }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span class="text-muted">
                    <small>{{ student.email }}</small>
                </span>
                <span>
                    <i class="fa fa-copy"></i>
                </span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-1">
                <small class="fw-bold">{{ profile.degree }}</small>
            </div>
            <div class="px-2 rounded mt-2 date ">
                <span class="join">Joined {{ user.date_joined.date }}</span>
            </div>
        </div>
    </div>
</section>
<section class="container my-4 p-3 justify-content-center">
    <div class="card p-2 align-items-center mt-3">
        <p class="h4">Courses</p>
        {% for course in courses %}
        <div class=" d-flex flex-column justify-content-center align-items-center p-2">
            <a class="h5" href="{{ course.get_absolute_url }}">{{ course.name }}</a>
            <small class="text-muted">{{ course.about }}</small>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}