{% if request.user.is_authenticated %}
<section class="m-1">
    <a class="btn btn-primary m-2 w-100 fw-bold" data-bs-toggle="collapse" href="#gotocourseshow" role="button"
        aria-expanded="false" aria-controls="gotocourseshow">
        Go To Course
    </a>

    <div class="collapse" id="gotocourseshow">
        {% for course in courses %}
        <a class="btn btn-sm btn-outline-dark m-1" href="{{ course.get_absolute_url }}" title="{{ course.name }}">
            {{ course.course_code }}
        </a>
        {% empty %}
        <p>
            You haven't created any courses yet.
            <a class="btn btn-sm btn-outline-success" href="{% url 'notes:create_course' %}">
                Add Course Here
            </a>
        </p>
        {% endfor %}
    </div>
</section>
{% endif %}