<!-- base.html -->
{% load django_bootstrap5 %}
{% load static %}
{% load notes_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.85" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% if "glossary" in request.path %}
    <link rel="icon" type="image/x-icon" href="{% static 'glossary_favicon.ico' %}">
    {% elif "revision" in request.path %}
    <link rel="icon" type="image/x-icon" href="{% static 'revision_favicon.ico' %}">
    {% else %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% endif %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <!-- Site dashboard -->
    {% if request.user.is_authenticated %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle dashboard">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'notes:dashboard' %}" title="Dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'glossary:term_list' %}" title="Glossary">
                            Glossary
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'revision:calendar' %}" title="Revision">
                            Revision
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex nav-item" role="search" action="{% url 'notes:search' %}" method="get">
                            <div class="input-group mb-3">
                                <input class="form-control" type="search" aria-label="Search" type="text" name="q"
                                    placeholder="Search for a term" aria-describedby="search-button-addon2">
                                <button class="btn btn-outline-success" id="search-button-addon2"
                                    type="submit">Search</button>
                            </div>
                        </form>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="btn btn-primary rounded-3" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="True">
                        {% if request.user.profile.photo %}
                        <img src="{{ request.user.profile.photo.url }}" class="rounded-5" alt="..." width="25"
                            height="25">
                        {% endif %}
                        {{ request.user.get_username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="text-success dropdown-item" href="{% url 'profile' %}">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a class="text-danger dropdown-item" href="{% url 'logout' %}">
                                Log Out
                            </a>
                        </li>
                        <li>
                            <a class=" text-warning dropdown-item" href="{% url 'password_change' %}">Change
                                Password</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    {% else %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">WELCOME</span>
            <div class="btn-group float-end" role="group">
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </nav>

    {% endif %}


    <div class='m-1'>
        {% bootstrap_messages %}
    </div>

    <!-- Site Header -->

    <header class="container-fluid">
        {% go_to request %}

        {% block header %}

        {% endblock header%}
    </header>

    <div class="container-fluid mb-3">

        <!-- Main Page Content -->

        <main>
            {% block content %}

            {% endblock content%}
        </main>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>