<!-- base.html -->
{% load django_bootstrap5 %}
{% load static %}
{% load notes_tags %}

<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}
        PKMS - A Knowledge Management System for Students
        {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Streamline your academic study materials and stay on top of your studies with PKMS. Easily take and organize notes, store important terms, and set revision goals.">
    <meta name="keywords" content="PKMS, knowledge management system,personal knowledge management system, note-taking, organization, glossary, revision planning, customizable profile, note sharing, privacy, django knowledge management system">
    <meta name="robots" content="index, follow">
    <meta name="author" content="PKMS Team">
    <link rel="canonical" href="https://pkms.live/">
    <meta property="og:title" content="PKMS - A Personal Knowledge Management System for Students">
    <meta property="og:description" content="Streamline your academic study materials and stay on top of your studies with PKMS. Easily take and organize notes, store important terms, set revision goals, and more.">
    <meta property="og:image" content="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    {% if "glossary" in request.path %}
    <link rel="icon" type="image/x-icon" href="{% static 'glossary.jpg' %}">
    {% elif "revision" in request.path %}
    <link rel="icon" type="image/x-icon" href="{% static 'revision.jpg' %}">
    {% else %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% endif %}
</head>

<body>
    {% if request.user.is_authenticated %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="{% static 'pkms.png' %}" height="35" width="35" alt="PKMS Logo" loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'notes:dashboard' %}" title="Dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'glossary:term_list' %}" title="Glossary">
                            Glossary
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link" href="{% url 'revision:calendar' %}" title="Revision">
                            Revision
                        </a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
            <form class="input-group w-auto my-auto d-none d-sm-flex me-2" role="search" action="{% url 'notes:search' %}" method="get">
                <input name="q" autocomplete="off" type="search" class="form-control" placeholder="Search" style="min-width: 125px;" />
                <button class="btn btn-success">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        {% if request.user.profile.photo %}
                        <img src="{{ request.user.profile.photo.url }}" class="rounded-5" alt="..." width="35" height="35">
                        {% else %}
                        <img src="{% static 'no-photo-icon.jpg' %}" class="rounded-5" alt="..." width="35" height="35">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a class=" dropdown-item" href="#">
                                Change Settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    {% else %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- brand -->
            <a class="navbar-brand" href="{% url 'home' %}" title="Home">
                <img class="img-fluid rounded" src="{% static 'pkms.png' %}" alt="" width="40" height="40">
            </a>
            <!-- brand -->
            <div class="" role="group">
                <a class="btn btn-primary me-2" href="{% url 'signup' %}">Sign Up</a>
                <a class="btn btn-primary me-2" href="{% url 'login' %}">Log In</a>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    {% endif %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" data-mdb-color="success">
        {{ message }}
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'info' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'warning' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Site Header -->

    <header class="container-fluid">
        {% go_to request %}

        {% block header %}

        {% endblock header%}
    </header>

    <div class="container-fluid mb-3">

        <!-- Main Page Content -->

        <main>
            {% block content %}

            {% endblock content%}
        </main>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>