{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block header %}
<div class="jumbotron m-3">
    <h1 class="text-center">Welcome to PKMS!</h1>
    <p class="lead">
        PKMS is a powerful and easy-to-use knowledge management system designed to help students organize
        their notes, store important terms, and set revision goals. With PKMS, you can streamline the management of your
        academic study materials through an easy-to-use interface,
        making your learning experience more efficient and effective.
    </p>
    <hr>
    {% endblock header%}

    {% block content %}

    {% if not user.is_authenticated %}
    <a class="btn btn-primary btn-lg mx-3" href="{% url 'signup' %}" role="button">
        Sign up for free
    </a>
    {% endif %}

</div>

<div class="container">

    <h1 class="display-5 text-center">Features</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Note Taking and Organization</h3>
                    <p class="card-text">
                        Easily take and organize notes hierarchically by course, topic, and subtopic.
                        This hierarchical structure allows for easy navigation and quick access to your notes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Glossary</h3>
                    <p class="card-text">
                        Store important terms and definitions for different courses in one central
                        location, making it easier to study and review key concepts.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Revision Planning</h3>
                    <p class="card-text">
                        Set revision goals and deadlines, and track your progress, helping you stay on
                        top of your studies and achieve your academic goals.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3>Customizable Profile</h3>
                    <p>
                        Personalize your profile with a variety of settings, such as changing your profile picture or
                        choosing a
                        preferred color scheme.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3>Note Sharing</h3>
                    <p>
                        Share your notes with others via email, making it easy to collaborate and study with friends and
                        classmates.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3>Privacy</h3>
                    <p>
                        All your notes and account information are kept secure and private, visible only to you.You also
                        have the option to delete your account and completely exit the platform.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}