<!-- notes/course_detail.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}{{ course.course_code }}{% endblock %}

{% block header %}
<p class="h2 text-center">
    {{ course }}
</p>
<p class="text-center text-muted fw-lighter">
    {{ course.about}}
</p>

<div class="btn-group m-3">
    <a class="btn btn-sm btn-outline-success" href="{% url 'notes:create_course' %}">
        New Course
    </a>
    <a class="btn btn-sm btn-outline-warning" href="{% url 'notes:update_course' course.id %}">
        Update Course
    </a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-outline-danger" data-mdb-toggle="modal"
        data-mdb-target="#delete_course_modal">
        Delete Course
    </button>
    <a class="btn btn-sm btn-outline-success"
        href="{% url 'notes:create_topic' course.id %}">
        New Topic
    </a>
    <!-- Modal -->
</div>

<div class="modal fade" id="delete_course_modal" tabindex="-1" aria-labelledby="delete_{{ course.course_code }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-frame modal-top">
        <div class="modal-content rounded-5 text-center">
            {% include "notes/delete/course_confirm_delete.html" %}
        </div>
    </div>
</div>


<hr>
{% endblock header %}

{% block content %}
<div class="row row-cols-2 g-2">
    {% for topic in topics %}
    <div class="col">
        <div class="card p-2">
            <p class="card-title">
                <a href="{{ topic.get_absolute_url }}">
                    {{ topic }}
                </a>
            </p>
            <small class="card-text text-muted">{{ topic.overview }}</small>
        </div>
    </div>
    {% endfor%}
</div>
{% endblock %}