<!-- notes/entry_detail.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load notes_tags %}
{% load glossary_tags %}

{% block title %}{{ entry.name }}{% endblock title %}

{% block header %}
<nav style="--mdb-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ entry.subtopic.topic.course.get_absolute_url }}">
                {{ entry.subtopic.topic.course.course_code }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ entry.subtopic.topic.get_absolute_url }}">
                {{ entry.subtopic.topic | truncatechars:25 }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ entry.subtopic.get_absolute_url }}">
                {{ entry.subtopic | truncatechars:25 }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a class="btn btn-sm btn-dark" data-mdb-toggle="collapse" href="#otherEntries" role="button"
                aria-expanded="false" aria-controls="otherEntries">
                {{ entry }}
            </a>
        </li>
    </ol>
</nav>
<div class="collapse m-2" id="otherEntries">
    {% for other_entry in entry.other_entries %}
    <a class="btn btn-sm btn-outline-dark" href="{{ other_entry.get_absolute_url }}">{{ other_entry.name }}</a>
    {% endfor %}
</div>
<div class="btn-group">
    <a class="btn btn-sm btn-outline-success" href="{% url 'notes:create_entry' entry.subtopic.id %}">New Entry</a>
    <a class="btn btn-sm btn-outline-warning" href="{% url 'notes:update_entry' entry.id %}">Update Entry</a>
    <button type="button" class="btn btn-sm btn-outline-danger" data-mdb-toggle="modal"
        data-mdb-target="#delete_entry_modal">
        Delete Entry
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary" data-mdb-toggle="modal"
        data-mdb-target="#share_entry_modal">
        Share Entry
    </button>
</div>
<div class="modal fade" id="create_term_modal" tabindex="-1" aria-labelledby="delete_{{ entry.slug }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                {% create_term_inline entry %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_entry_modal" tabindex="-1" aria-labelledby="delete_{{ entry.slug }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-frame modal-top">
        <div class="modal-content rounded-5 text-center">
            {% include "notes/delete/entry_confirm_delete.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="share_entry_modal" tabindex="-1" aria-labelledby="delete_{{ entry.slug }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">{% include "notes/includes/entry_confirm_share.html" %}</div>
        </div>
    </div>
</div>
<p class="h2 text-center my-2">{{ entry.name }}</p>
<hr>
{% endblock header %}


{% block content %}
<section class="container-fluid p-2">
    <div class="accordion" id="accordionShowBy">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingCourse">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseCourse" aria-expanded="true" aria-controls="collapseCourse">
                    Show Terms
                </button>
            </h2>
            <div id="collapseCourse" class="accordion-collapse collapse" aria-labelledby="headingCourse"
                data-mdb-parent="#accordionShowBy">
                <div class="accordion-body">
                    {% for term in terms_definitions %}
                    <a tabindex="0" class="btn btn-sm btn-primary m-1" role="button" data-mdb-toggle="popover"
                        data-mdb-trigger="focus" data-mdb-placement="bottom" title="Definition of {{ term.name }}"
                        data-mdb-content="{{ term.definition }}">
                        {{ term.name }}
                    </a> {% endfor %}
                    <button type="button" class="btn btn-success btn-sm m-1" data-mdb-toggle="modal"
                        data-mdb-target="#create_term_modal">
                        Create Term
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<p>{{ entry.content | markdown }}</p>
{% endblock content %}