<!-- notes/course_detail.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}{{ topic }}{% endblock %}

{% block header %}
<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ topic.course.get_absolute_url }}">
                {{ topic.course.course_code }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a class="btn btn-sm btn-dark" data-bs-toggle="collapse" href="#otherTopics" role="button"
                aria-expanded="false" aria-controls="otherTopics">
                {{ topic }}
            </a>
        </li>
    </ol>
</nav>

<div class="collapse" id="otherTopics">
    <div class="row g-2">
        {% for other_topic in other_topics %}
        <div class="col">
            <a class="btn btn-sm btn-outline-dark" href="{{ other_topic.get_absolute_url }}">
                {{ other_topic }}
            </a>
        </div>
        {% endfor%}
    </div>
</div>

<div class="btn-group m-3">
    <a class="btn btn-sm btn-outline-success " href="{% url 'notes:create_topic' topic.course.id %}">
        New Topic
    </a>
    <a class="btn btn-sm btn-outline-warning" href="{% url 'notes:update_topic' topic.id %}">
        Update Topic
    </a>
    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
        data-bs-target="#delete_topic_modal">
        Delete Topic
    </button>
</div>
<div class="modal fade" id="delete_topic_modal" tabindex="-1" aria-labelledby="delete_{{ topic.slug }}_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                {% include "notes/delete/topic_confirm_delete.html" %}
            </div>
        </div>
    </div>
</div>

</div>
<p class="h2 text-center">
    {{ topic.name }}
</p>
<p class="text-muted text-center fw-lighter">
    {{ topic.overview }}
</p>
{% endblock header %}

{% block content %}
<br>
<a class="btn btn-sm btn-outline-success m-2" href="{% url 'notes:create_subtopic' topic.id %}">
    New SubTopic
</a>

<div class="row row-cols-2 g-2">
    {% for subtopic in subtopics %}
    <div class="col">
        <div class="card p-2">
            <p class="card-title">
                <a class="link-dark fw-bold" href="{{ subtopic.get_absolute_url }}">
                    {{ subtopic }}
                </a>
            </p>
            <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal"
                data-bs-target="#show_{{ subtopic.slug }}_entries">
                Show Entries
            </button>
        </div>
    </div>
    <div class="modal fade" id="show_{{ subtopic.slug }}_entries" tabindex="-1"
        aria-labelledby="show_{{ subtopic.slug }}_entries" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="h4 float-center">Entries in {{ subtopic }}</p>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-sm-2 g-3">
                        {% for entry in subtopic.entry_set.all %}
                        <div class="col">
                            <a class="btn btn-outline-dark" href="{{ entry.get_absolute_url}}">
                                {{ entry.name }}
                            </a>
                        </div>

                        {% empty %}
                        <p>
                            No entries found.
                        </p>
                        {% endfor %}
                    </div>
                    <br>
                    <a class="btn btn-outline-success" href="{% url 'notes:create_entry' subtopic.id %}">
                        Add new entry
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}