<!-- notes/entry_create_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Create Entry{% endblock %}

{% block header %}
<h1>Create a new entry</h1>
<p>Fill on the form fields as required</p>
{% endblock header %}

{% block content %}
<div>
	<form method="post" onsubmit="createEntry()">
		{% csrf_token %}
		<div class="mb-3">
			<label for="id_name" class="form-label">Name</label>
			<input type="text" class="form-control" id="id_name" name="name" required>
		</div>
		<textarea id="id_content" name="content"></textarea>
		<button class="btn btn-outline-success" type="submit">Save Entry</button>
	</form>
</div>
<script>
	const easyMDE = new EasyMDE({ element: document.getElementById('id_content') });
</script>
<script>
	function createEntry(event) {
		event.preventDefault();
		const form = event.target;
		const textarea = form.querySelector('#id_content');
		textarea.value = easyMDE.value();
		form.submit();
	};
</script>
{% endblock %}